body{
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
     text-align: center;
}
div{
    margin: auto;
    border: 2px solid white;
    border-radius: 30px;
    width: 10lh;
    margin-top: 10%;
}
span{
    color: rgb(204, 204, 6);
}
div:hover{
    transform: translateY(-10px);
    box-shadow:   0 0 30px rgb(204, 204, 6),
    0 0 40px rgb(204, 204, 6),
    0 0 50px rgb(204, 204, 6);

}